@mixin button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: max-content;
  max-width: 90vw;
  box-shadow: 0 1px 1px 0 #000;

  @media (max-width: 576px) {
    width: 100%;
  }

  &:active {
    box-shadow: 0 1px 0.5px 0 #000;
  }

  &:disabled {
    background-color: grey;
    pointer-events: none;
  }

  &.remove {
    background-color: #e95f53f8;
    box-shadow: 0px 4px 2px 0 #000;
  }

  &:hover {
    opacity: 0.7;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: url("../images/movie-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  height: 100%;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 1.5rem;
  height: max-content;
  width: 100vw;
  background-color: #4ac774;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  z-index: 2;

  p {
    text-align: center;
    max-width: 75vw;
    height: max-content;
    margin: 1rem 4rem 1rem 0;
    text-transform: capitalize;
    font-size: 1.5rem;

    @media (max-width: 576px) {
      font-size: 1.2rem;
    }
  }

  button {
    @include button();
    height: 2rem;
    padding: 0.5rem;
    justify-self: end;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(0, -50%);
    background: none;
    color: white;
    box-shadow: none;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;

    @media (max-width: 576px) {
      width: max-content;
      right: 0.5rem;
    }
  }
  &.hidden {
    transform: translateY(-110%);
  }
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  padding: 20px;
}

.container {
  margin: 0 auto;
  padding: 2rem 4rem;
  max-width: 1200px;

  @media (max-width: 576px) {
    padding: 2rem;
  }
}

form {
  display: flex;
  flex-direction: column;

  .form-input {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  input {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    margin-right: 1rem;
    border-radius: 4px;
    border-width: 1px;

    &.error {
      border: 2px solid red;

      &::placeholder {
        color: red;
      }
    }
  }

  button {
    @include button;
    &[type="submit"] {
      height: 2.5rem;
      background-color: #29658dee;
      color: #fefefe;
      padding: 0.5rem 1rem;

      @media (max-width: 576px) {
        margin: 1rem auto;
      }
      &:active {
        background-color: #29658d;
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin: 20px 0;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .spinner-container {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hidden {
      display: none;
    }

    &.show {
      display: flex;
    }
  }

  .spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  .nomination-container {
    background: rgb(100, 73, 73);
    opacity: 0.9;
    padding: 20px 15px;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: max-content;
    box-shadow: 5px 5px 5px 0px grey;
  }

  .movies-container {
    background: transparent;
    padding: 20px 15px;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: max-content;
    box-shadow: 5px -5px 5px 0px grey;
  }

  #movies-info,
  #nomination-info {
    margin: 8px 0;
  }

  .movie-item {
    display: flex;
    padding: 1rem 0;
    margin: 1rem 0;
    gap: 1rem;
    transition: all 0.5s ease-in;

    &:hover {
      border: 2px solid grey;
      padding: 10px;
      border-radius: 10px;
    }

    @media (max-width: 576px) {
      align-items: center;
    }

    img {
      height: 100px;
      width: 90px;
      object-fit: contain;

      @media (max-width: 576px) {
        height: 80px;
        width: 60px;
      }
    }

    .movie-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 10px;

      @media (max-width: 576px) {
        flex-direction: column;
        margin-left: 15px;
      }
    }

    .movie-content-info {
      width: 100%;
      margin: 5px 0;
    }

    button {
      @include button();
      padding: 0.7rem;
      background-color: #29658dee;
      box-shadow: 0px 4px 2px 0 #000;
      color: #fefefe;
    }
  }

  .nomination-container {
    position: sticky;
    top: 3%;
  }
}
